.formDiv {
     background-color: aqua;
    width: 600px;
    text-align: center;
    border-radius: 30px;
    margin: 100px auto;
}



.formDiv label{
    font-size: 20px;
}

.formDiv input{
    padding: 10px;
    border-radius: 10px;
}

.formDiv button{
    background-color: green;
    padding: 5px 40px;
    color: white;
    border: none;
}